:root {
    --mainDark: #0d0d0e;
    --mainLightDark: #3e3f41;
    --mainGrey: rgb(97, 93, 93);
    --mainLightGrey: rgba(172, 172, 172);
    --mainWhite: #fff;
    --mainBlue: #007bff;
    --mainRed: #fa3232;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    font-family:  'Open sans';
}

body,
p {
    color: #737373
}
p {
    font-size: 18px;
    font-family:  'Roboto';
    line-height: 30px;
    font-weight: 400;
}

#avowsTitle {
    /* background-image: url(../images/avowsTitle.png); */
    /* height: 100px; */
    padding-left: 4rem;
    position: relative;
    overflow: hidden;
    z-index: 0
}

.small-nav{
    height: 30pt;
    padding-left: 20pt;
    
}
.small-nav-num{
    font-size: 12pt;
    padding-left: 2rem;
}

.nav{ 
    padding-left: 0pt;
    height: 65pt;
    /* padding-top: 50pt; */
}

.mr-auto{
    padding-left: 280pt;
    font-size: 18pt;
}

.buttonTrue {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000;
    background: white;
    border: none;
    border-radius: 15px;
    box-shadow: 0 8px #999;
}
.buttonFalse {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background: red;
    border: none;
    border-radius: 15px;
    box-shadow: 0 8px #999;
  }
.carousel{
    display: block;
    height: fit-content;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    color: #fff;
}

#header,
#header .container,
#header .header-item,
#header .owl-item,
#header .owl-wrapper,
#header .owl-wrapper-outer,
#header .row,
#header .row>div,
.content-inner-wrapper {
    height: 100%
}

#header {
    width: 100%;
    z-index: 0
}


.caption1{
    color: var(--mainWhite);
    padding-bottom: 25em;    
}

.our-mv{
    padding-top: 2rem;
}
.button-mv{
    text-align: left;
    padding-top: 0pt;
}
.link{
    color: white;
}

.links-widget ul {
    margin: -6px 0 0;
    padding: 0;
    list-style: none
}

.links-widget ul li a {
    display: block;
    margin-bottom: 10px;
    color: #fff;
    border-bottom: 1px dotted rgba(255, 255, 255, .3);
    font-weight: 400;
    text-transform: uppercase;
    -webkit-transition: color .25s, border-color .25s;
    transition: color .25s, border-color .25s
}

.section-title {
    position: relative;
    margin-top: 48px;
    margin-bottom: 40px;
    color: #303030;
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    text-align: center
}
.section-title:before {
    content: " ";
    background-color: #ff5252;
    position: absolute;
    height: 2px;
    width: 50px;
    left: 50%;
    bottom: -15px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}
.section-title span {
    display: block;
    color: #888989;
    font-size: 18px;
    font-weight: 700;
    line-height: 14px
}
.breadcrumb li a,
.section-title.white,
.section-title.white span {
    color: #fff;
    text-align: center;
}

.section-title.text-left {
    text-align: left
}

.section-title.text-left:before {
    left: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.section-title.text-right {
    text-align: right
}

.section-title.text-right:before {
    left: auto;
    right: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0)
}
.section {
    background-color: #fff
}


.Massive7ec9b024b38365f303ca5a88a3301fa0 ul.nav li a {
    color: black;
    border-color: rgba(236, 28, 36, 0.16) !important;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #fff !important;
    background-color: #ec1c24 !important;
}

.round-tabs .nav>li>a,
.square-tabs .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 25px;
}

.round-tabs .nav-pills>li>a {
    color: #434343;
    border: 1px solid #eaeaea;
    border-radius: 30px;
}

.text-center {
    text-align: center;
}

#feedback {
    background-image: url(../images/background/feedback-bg.jpg);
    position: relative;
    padding: 100px 0;
    overflow: hidden;
    z-index: 0
}

#feedback.page {
    background-color: #fff
}

#feedback.page:before {
    display: none
}

#feedback.page .feedback-wrapper .container {
    padding: 0
}

#feedback.page .feedback-items {
    margin-bottom: 0
}

#feedback:before,
.feedback-item .mdl-card:before {
    position: absolute;
    content: " "
}

#feedback:before {
    background-color: rgba(34, 34, 34, .8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1
}

.feedback-wrapper .container {
    background-color: #fff;
    z-index: 0;
    padding-bottom: 80px;
    border-radius: 4px
}

.feedback-items {
    margin-bottom: 70px
}

.feedback-items .owl-item {
    padding: 0 40px;
    overflow: hidden
}

.feedback-item>.row {
    display: table
}

.feedback-item>.row>div {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    float: none
}

.facts {
    position: relative
}

.facts:before {
    position: absolute;
    width: 1px;
    height: 100px;
    background: rgba(0, 0, 0, .09);
    right: -20px;
    top: 50%;
    margin-top: -50px;
    content: " "
}

.facts.last-child:before {
    width: 0
}

.facts-icon i.fa {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto 20px;
    color: #ff5252;
    font-size: 26px;
    box-shadow: 0 2px 4.7px .3px rgba(0, 0, 0, .24);
    -webkit-transition: .25s;
    transition: .25s
}

.facts:hover i.fa {
    background-color: #ff5252;
    color: #fff
}

.facts-icon i.fa:before {
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.facts-icon i.fas {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto 20px;
    color: #ff5252;
    font-size: 26px;
    box-shadow: 0 2px 4.7px .3px rgba(0, 0, 0, .24);
    -webkit-transition: .25s;
    transition: .25s
}

.facts:hover i.fas {
    background-color: #ff5252;
    color: #fff
}

.facts-icon i.fas:before {
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.facts-text {
    margin-bottom: 12px;
    text-transform: capitalize
}

.facts-number {
    font-size: 22px
}

#subscribe,
.feature-item .content {
    position: relative
}
#subscribe {
    padding: 30px 0 29px;
    color: #fff;
    background-color: #ec1c24
}

#subscribe h2 {
    color: #fff;
    margin-top: 8px;
    margin-bottom: 0;
    font-weight: 400;
}

.join_us {
    background-color: #ffff;
    color: black;
    padding: 12px 25px 12px 25px;
    float: right;
    margin-top: 15px;
    border-radius: 2px;
}
/*.avowsLogo {
     image-resolution: 1000;
    height: 4rem;
    width: 100%;
    padding-top: 4rem;
    overflow: hidden;
    z-index: 0;    
}*/

.img1 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/header-slider/application_development.jpg);
    position: relative;
    padding-top: 500px;
    width: 100%;
    overflow: hidden;
    z-index: 0;   
}
.img2 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/header-slider/managed_services.jpg);
    position: relative;
    padding-bottom: 500px;
    width: 100%;
    overflow: hidden;
    z-index: 0;   
}
.img3 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/header-slider/business_analytic.jpg);
    position: relative;
    padding-bottom: 500px;
    width: 100%;
    overflow: hidden;
    z-index: 0;   
}
.img4 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/header-slider/digital_solutions.jpg);
    position: relative;
    padding-bottom: 500px;
    width: 100%;
    overflow: hidden;
    z-index: 0;   
}

#pageHeader {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/background/about_us.jpg);
    position: relative;
    padding-bottom: 40px;
    overflow: hidden;
    z-index: 0;
    
}
#pageHeader1 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/blogPost/blog_banner.jpg);
    position: relative;
    padding-bottom: 40px;
    overflow: hidden;
    z-index: 0;   
}
#pageHeader2 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/background/career_banner.jpg);
    position: relative;
    padding-bottom: 40px;
    overflow: hidden;
    z-index: 0;
    
}
#pageHeader3 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/background/testing_main.jpg);
    position: relative;
    padding-bottom: 50px;
    overflow: hidden;
    z-index: 0;
    
}
#pageHeader4 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/background/testing_main.jpg);
    position: relative;
    padding-bottom: 50px;
    overflow: hidden;
    z-index: 0;
    
}
#pageHeader5 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/background/contact_banner.jpg);
    position: relative;
    padding-bottom: 50px;
    overflow: hidden;
    z-index: 0;
    
}
#pageHeader6 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/background/contact_banner.jpg);
    position: relative;
    padding-bottom: 50px;
    overflow: hidden;
    z-index: 0;
    
}
#pageHeader7 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/background/contact_banner.jpg);
    position: relative;
    padding-bottom: 50px;
    overflow: hidden;
    z-index: 0;
    
}

.vc-parent {
    width: 100%;
    height: 100%;
    display: table
}

.vc-child {
    display: table-cell;
    vertical-align: middle
}

.vc-child-bottom {
    display: table-cell;
    vertical-align: bottom
}
.about-page-description .about-img,
.page-title h2 {
    margin-bottom: 30px
}
.page-title h2 {
    color: rgb(235, 224, 224);
    font-size: 34px;
    font-weight: 600;
    margin-top: 100px;
    text-align: center;
    text-transform: uppercase;
    position: relative
}
.page-title ul {
    color: rgb(235, 224, 224);
    font-family:  'Roboto';
    font-size: 18px;
}

.page-title h2:before {
    content: " ";
    background-color: #ff5252;
    position: absolute;
    height: 2px;
    width: 80px;
    left: 50%;
    bottom: -15px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.about-page-description .about-img,
.page-title h1 {
    margin-bottom: 30px
}
.page-title h1 {
    color: rgb(235, 224, 224);
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
    text-transform: uppercase;
    position: relative
}

.page-title h1:before {
    content: " ";
    background-color: #ff5252;
    position: absolute;
    height: 2px;
    width: 80px;
    left: 50%;
    bottom: -15px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.breadcrumb {
    background-color: transparent;
    padding: 8px 15px 0;
    margin-top: 22px;
    margin-bottom: 0;
    -webkit-transition: padding .25s;
    transition: padding .25s
}
.breadcrumb li a:hover,
.breadcrumb>.active {
    color: #ff5252
}
.breadcrumb li a,
.section-title.white,
.section-title.white span {
    color: #fff
}

.about-description {
    padding: 0 0 90px
}

.about-description .row {
    display: table
}

.about-description .row>div {
    display: table-cell;
    vertical-align: middle;
    float: none
}

.about-desc-img img {
    width: 100%
}

.team-skills .about-description a.read-more {
    margin-top: 10px
}

#about.bg-img .team-skills p {
    color: #fff
}

.wpb_wrapper>p {
    text-align: justify !important;
    color: #7e7e7e;
    line-height: 30px;
}

.vc_empty_space{
    height: 32px;
}

.about-page-team {
    background-image: url(../images/background/about-bg.jpg);
    position: relative;
    padding-bottom: 100px;
    overflow: hidden;
    z-index: 0;
}
.img-responsive1 {
    /* margin-top: -15rem; */
    width: 100%;
}

.header-content {
    margin-top: 300px;
    text-align: left;
}

.header-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    
}

.header-content ul li {
    position: relative;
    padding-left: 20px;
    float: left;
    width: 50%
    
}

.header-content ul li:before {
    content: " ";
    position: absolute;
    top: 7px;
    left: 0;
    width: 8px;
    height: 8px;
    border: 2px solid #ff5252;
    border-radius: 50%
}

.header-img {
    position: relative;
    display: block
}

.vc-child .header-img {
    margin-top: 100px
}

.header-img img.img-responsive1 {
    width: 100%
}

.header-img .header-img-inner,
.header-img .header-img-slider {
    position: absolute;
    top: 9.5%;
    left: 150px;
    width: 261px;
    cursor: ew-resize
}

.header-img-slider img {
    max-height: 40.5%
}

.img-responsive {
    width: 100%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.blog-image {
    background-image: url(../images/blogPost/techconnect.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
.ceo_image {
    background-image: url(../images/our_ceo.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

#about {
    position: relative;
    padding: 0 0 45px;
    background-color: #f8f8f8;
    border-style: solid;
    border-width: 1px 0;
    border-color: #e9e9e9;
    z-index: 0
}
.about--img {
    padding: 124px 0px 0px 0px;
}
.justified {
    text-align: justify;
}

/* BLOG */

#blog,
#domainPricing {
    padding: 0 0 100px
}
.blog-page-sidebar .mdl-card {
    width: auto;
    min-height: 0;
    background-color: transparent
}

.blog-page-sidebar>.mdl-card>.mdl-card__supporting-text {
    width: 100%;
    padding: 0
}
#blog.blog-details-page {
    padding: 100px 0
}

.blog-page-content.post-details .post-img {
    margin-bottom: 30px;
    margin-top: -50px;
}

.blog-page-content.post-details blockquote {
    border-color: #ff5252
}

.blog-page-content.post-details blockquote:after,
.blog-page-content.post-details blockquote:before {
    display: none
}

.blog-page-content.post-details blockquote p {
    color: #ff5252
}

.blog-page-content.post-details ul li {
    font-weight: 300;
    color: #737373;
    font-family:  'Roboto';
    font-size: 16px;
}

.blog-page-content.post-details .post-author.mdl-card {
    width: auto;
    min-height: auto;
    margin-bottom: 20px
}

.blog-page-content.post-details .post-author .mdl-card__supporting-text {
    padding: 0
}

.blog-page-content.post-details a.post-author-name {
    margin-left: 10px
}

.blog-page-content.post-details .post-author .social-share {
    list-style: none;
    margin: 20px 0 15px 30px;
    padding: 0;
    overflow: hidden
}

.blog-page-content.post-details .post-author .social-share li {
    display: inline-block
}

.blog-page-content.post-details .post-author .social-share li a {
    border-radius: 50%;
    min-width: 35px;
    height: 35px;
    padding: 0;
    color: #737373
}

.blog-page-content.post-details .post-author .social-share li a:hover {
    color: #ff5252
}

.blog-page-content.post-details .post-author .social-share li a .mdl-button__ripple-container {
    border-radius: 50%
}

.blog-page-content.post-details .tags-title {
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase
}
.post-item .mdl-card {
    width: auto
}

.post-item .mdl-card__title {
    padding: 0;
    display: block;
    width: 100%;
    overflow: hidden
}

.post-item .mdl-card__supporting-text {
    padding: 0 20px;
    width: 100%
}

.post-item .mdl-card__actions {
    padding: 0 20px;
    position: relative
}

#contact:before,
.post-item .mdl-card__actions:before {
    content: " ";
    position: absolute;
    top: 0
}

.post-item .mdl-card__actions:before {
    left: 50%;
    width: 1px;
    height: 80px;
    background-color: #e9e9e9
}
.post-img img {
    width: 100%
}

.post-metadata {
    margin-bottom: 15px
}

.post-metadata p {
    margin-bottom: 0;
    margin-top: 15px;
    font-size: 14px;
    color: #737373
}

.post-metadata i.fa {
    margin-right: 5px
}

.post-metadata p a {
    color: #737373
}

.post-metadata p a:hover {
    border-bottom: 1px solid #737373
}

.post-metadata p span {
    margin: 0 5px
}

.post-title h2 {
    margin: 15px 0 10px;
    padding-left: 15px;
    border-left: 3px solid #ff5252;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    -webkit-transition: border-color .25s;
    transition: border-color .25s
}

.post-title h2 {
    margin: 15px 0 10px;
    font-size: 15px;
    line-height: 30px;
}

.post-title h2 a {
    color: #303030;
    font-weight: 500;
    -webkit-transition: color .25s;
    transition: color .25s
}

.post-title h2 a {
    color: #303030;
    font-weight: 500;
    -webkit-transition: color .25s;
    transition: color .25s
}

.post-title h2:hover a {
    color: #ff5252
}

.post-summary p,
.reg--login .mdl-textfield--floating-label.is-focused .mdl-textfield__label {
    color: #737373;
}

/* contact us */

#postCommentForm .mdl-textfield textarea,
.contact-form .mdl-textfield textarea {
    resize: none
}
#contact {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 0 30px
}

#contact{
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--mainLightGrey)
}

#contact .section-title {
    color: #fff
}

.contact-form-status .alert {
    border: none;
    border-radius: 0;
    color: #fff;
    background-color: #ff9800
}

.contact-form .mdl-textfield {
    width: 100%
}


.contact-form input,
.contact-form textarea {
    border-color: #fff;
    color: #fff;
    outline: 0
}

.contact-form button[type=submit] {
    padding: 4px 40px;
    margin-top: 20px;
    height: auto
}

.contact-form label {
    margin-bottom: 0;
    color: #fff;
    font-weight: 100
}

.contact-address p,
.footer-title {
    font-weight: 500;
    text-transform: uppercase
}

.contact-form label:after {
    background-color: #ff5252
}

.contact-form input.valid+label:after,
.contact-form textarea.valid+label:after {
    background-color: #41C35B;
    visibility: visible;
    width: 100%;
    left: 0
}

.contact-form input.error+label:after,
.contact-form textarea.error+label:after {
    background-color: #ff5252;
    visibility: visible;
    width: 100%;
    left: 0
}
#domainSearch form .mdl-textfield__input {
    border-color: #fff;
    color: #fff;
    outline: 0
}

#domainSearch form .mdl-textfield__label {
    color: #fff;
    font-weight: 400;
    margin-bottom: 0
}

#domainSearch form .mdl-textfield__label:after {
    background-color: #fff
}
#subscribeForm .mdl-textfield {
    vertical-align: middle;
    margin-right: 6px;
    padding-bottom: 0
}

#subscribeForm input {
    border-color: #fff;
    color: #fff;
    outline: 0
}

#subscribeForm label {
    color: #fff;
    font-weight: 300;
    margin-bottom: 0
}

#subscribeForm label:after {
    background-color: #fff;
    bottom: 0
}

#subscribeForm button[type=submit] {
    color: #222;
    background-color: #fff;
    margin-top: 25px !important;
    height: 45px !important;
}

#postCommentForm .error+label:after {
    background-color: #ff5252;
    left: 0;
    width: 100%;
    visibility: visible
}

#postCommentForm .mdl-textfield {
    width: 100%
}

#postCommentForm .mdl-textfield.is-invalid .mdl-textfield__input {
    border-bottom-color: rgba(0, 0, 0, .12)
}

.mdl-textfield__input[type="number"]:hover {
    border: none;
    border-bottom-color: rgba(0, 0, 0, .12)
}

.mdl-textfield__input[type="email"]:hover {
    border: none;
    border-bottom-color: rgba(0, 0, 0, .12)
}
.contact-address {
    padding: 40px 0;
    background-color: #ff5252
}

.contact-address i.fa {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto 20px;
    color: #ff5252;
    background-color: #fff;
    font-size: 26px;
    -webkit-transition: .25s;
    transition: .25s
}

.contact-address i.fa:hover {
    box-shadow: 0 2px 4.7px .3px rgba(0, 0, 0, .24)
}

.contact-address i.fa:before {
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.contact-address address {
    margin-bottom: 0
}

.contact-address p {
    margin-bottom: 0;
    color: #fff;
    font-size: 18px;
    line-height: 24px
}
#contact.page .contact-address p,
#contact.page .contact-form label,
#contact.page .mdl-textfield__input,
#contact.page .section-title,
.comment-meta {
    color: #737373
}

.frame{
    border: 0;
}

/* tab class*/
#tab>:hover {
    background-color: red;
    color: white;
    border: none
}
.tabClass>.active {
    background-color: red;
    color: white;
    border: none
}

/* management style */


/* card style */
.inner{
    overflow: hidden;

}

.inner img{
    transition: all 1.5s ease;
}

.inner:hover img{
    transform: scale(1.5);
}

/* case studies */
.cs_about {
    margin-bottom: 50px;;
}
.cs_about h4 {
    color: var(--mainDark);
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: left;
    text-transform: uppercase;
    position: relative
}

.cs_about h4:before {
    content: " ";
    background-color: #ff5252;
    position: absolute;
    height: 2px;
    width: 80px;
    left: 3%;
    bottom: -15px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}