:root {
    --mainDark: #0d0d0e;
    --mainLightDark: #3e3f41;
    --mainGrey: rgb(97, 93, 93);
    --mainLightGrey: rgba(172, 172, 172);
    --mainWhite: #fff;
    --mainBlue: #007bff;
    --mainRed: #fa3232;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 300
}

body,
p {
    color: #737373
}
p {
    font-size: 16px;
    font-family:  'Muli', sans-serif;
    line-height: 22px
}

#avowsTitle {
    background-image: url(../images/avowsTitle.png);
    position: relative;
    overflow: hidden;
    z-index: 0
}

.small-nav{
    height: 30pt;
    padding-left: 20pt;
    
}
.small-nav-num{
    font-size: 12pt;
}

.nav{ 
    padding-left: 80pt;
    height: 65pt;
    /* padding-top: 50pt; */
}

.mr-auto{
    padding-left: 280pt;
    font-size: 17pt;
}

.carousel{
    display: block;
    height: fit-content;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
.caption1{
    color: var(--mainWhite);
    padding-bottom: 25em;
}

.our-mv{
    padding-top: 2rem;
}
.button-mv{
    text-align: left;
    padding-top: 0pt;
}
.section-title {
    position: relative;
    margin-top: 48px;
    margin-bottom: 40px;
    color: #303030;
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    text-align: center
}
.section-title:before {
    content: " ";
    background-color: #ff5252;
    position: absolute;
    height: 2px;
    width: 50px;
    left: 50%;
    bottom: -15px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}
.section-title span {
    display: block;
    color: #888989;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px
}
.breadcrumb li a,
.section-title.white,
.section-title.white span {
    color: #fff;
    text-align: center;
}

.section-title.text-left {
    text-align: left
}

.section-title.text-left:before {
    left: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.section-title.text-right {
    text-align: right
}

.section-title.text-right:before {
    left: auto;
    right: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0)
}
.section {
    background-color: #fff
}


.Massive7ec9b024b38365f303ca5a88a3301fa0 ul.nav li a {
    color: black;
    border-color: rgba(236, 28, 36, 0.16) !important;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #fff !important;
    background-color: #ec1c24 !important;
}

.round-tabs .nav>li>a,
.square-tabs .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 25px;
}

.round-tabs .nav-pills>li>a {
    color: #434343;
    border: 1px solid #eaeaea;
    border-radius: 30px;
}

.text-center {
    text-align: center;
}

#feedback {
    background-image: url(../images/background/feedback-bg.jpg);
    position: relative;
    padding: 100px 0;
    overflow: hidden;
    z-index: 0
}

#feedback.page {
    background-color: #fff
}

#feedback.page:before {
    display: none
}

#feedback.page .feedback-wrapper .container {
    padding: 0
}

#feedback.page .feedback-items {
    margin-bottom: 0
}

#feedback:before,
.feedback-item .mdl-card:before {
    position: absolute;
    content: " "
}

#feedback:before {
    background-color: rgba(34, 34, 34, .8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1
}

.feedback-wrapper .container {
    background-color: #fff;
    z-index: 0;
    padding-bottom: 80px;
    border-radius: 4px
}

.feedback-items {
    margin-bottom: 70px
}

.feedback-items .owl-item {
    padding: 0 40px;
    overflow: hidden
}

.feedback-item>.row {
    display: table
}

.feedback-item>.row>div {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    float: none
}

.facts {
    position: relative
}

.facts:before {
    position: absolute;
    width: 1px;
    height: 100px;
    background: rgba(0, 0, 0, .09);
    right: -20px;
    top: 50%;
    margin-top: -50px;
    content: " "
}

.facts.last-child:before {
    width: 0
}

.facts-icon i.fa {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto 20px;
    color: #ff5252;
    font-size: 26px;
    box-shadow: 0 2px 4.7px .3px rgba(0, 0, 0, .24);
    -webkit-transition: .25s;
    transition: .25s
}

.facts:hover i.fa {
    background-color: #ff5252;
    color: #fff
}

.facts-icon i.fa:before {
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.facts-icon i.fas {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto 20px;
    color: #ff5252;
    font-size: 26px;
    box-shadow: 0 2px 4.7px .3px rgba(0, 0, 0, .24);
    -webkit-transition: .25s;
    transition: .25s
}

.facts:hover i.fas {
    background-color: #ff5252;
    color: #fff
}

.facts-icon i.fas:before {
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.facts-text {
    margin-bottom: 12px;
    text-transform: capitalize
}

.facts-number {
    font-size: 22px
}

#subscribe,
.feature-item .content {
    position: relative
}
#subscribe {
    padding: 19px 0 29px;
    color: #fff;
    background-color: #ec1c24
}

#subscribe h2 {
    color: #fff;
    margin-top: 8px;
    margin-bottom: 0;
    font-weight: 500
}
.join_us {
    background-color: #ffff;
    color: black;
    padding: 12px 25px 12px 25px;
    float: right;
    margin-top: 15px;
    border-radius: 2px;
}


#pageHeader {
    background-image: url(../images/background/about-bg.jpg);
    position: relative;
    padding-bottom: 40px;
    overflow: hidden;
    z-index: 0
}
.vc-parent {
    width: 100%;
    height: 100%;
    display: table
}

.vc-child {
    display: table-cell;
    vertical-align: middle
}

.vc-child-bottom {
    display: table-cell;
    vertical-align: bottom
}
.about-page-description .about-img,
.page-title h2 {
    margin-bottom: 30px
}
.page-title h2 {
    color: rgb(235, 224, 224);
    font-size: 34px;
    font-weight: 500;
    margin-top: 100px;
    text-align: center;
    text-transform: uppercase;
    position: relative
}

.page-title h2:before {
    content: " ";
    background-color: #ff5252;
    position: absolute;
    height: 2px;
    width: 80px;
    left: 50%;
    bottom: -15px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.breadcrumb {
    background-color: transparent;
    padding: 8px 15px 0;
    margin-top: 22px;
    margin-bottom: 0;
    -webkit-transition: padding .25s;
    transition: padding .25s
}
.breadcrumb li a:hover,
.breadcrumb>.active {
    color: #ff5252
}
.breadcrumb li a,
.section-title.white,
.section-title.white span {
    color: #fff
}


.about-description {
    padding: 0 0 90px
}

.about-description .row {
    display: table
}

.about-description .row>div {
    display: table-cell;
    vertical-align: middle;
    float: none
}

.about-desc-img img {
    width: 100%
}

.team-skills .about-description a.read-more {
    margin-top: 10px
}

#about.bg-img .team-skills p {
    color: #fff
}

.wpb_wrapper>p {
    text-align: justify !important;
    color: #7e7e7e;
    line-height: 30px;
}

.vc_empty_space{
    height: 32px;
}

/* #pageHeader,
.about-page-team,
.bg-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.about-page-team {
    position: relative;
    padding-bottom: 100px
}

.about-page-team {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../imgages/background/about-bg.jpg);
    z-index: -2
} */

.about-page-team {
    background-image: url(../images/background/about-bg.jpg);
    position: relative;
    padding-bottom: 100px;
    overflow: hidden;
    z-index: 0
}
.img-responsive {
    width: 100%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

}
#about {
    position: relative;
    padding: 0 0 45px;
    background-color: #f8f8f8;
    border-style: solid;
    border-width: 1px 0;
    border-color: #e9e9e9;
    z-index: 0
}
.about--img {
    padding: 124px 0px 0px 0px;
}
.justified {
    text-align: justify;
}

