.avowsLogo {
    /* background-image: url(../images/avowsTitle.png); */
    position: relative;
    overflow: hidden;
    z-index: 0
}

/* .avowsLogo {
    height: 2rem;
    width: 3rem;
    padding-bottom: 4rem;
    background-color: black;
} */

.main-footer {
    background: #2f3235;
    padding-top: 1rem;
    color: white;
    padding-top: 3rem;
    position: relative;
    bottom: 0;
    /* width: 100%; */
    display:flex;
}
.footer-about {
    font-size: 12pt;
    text-align: center;
    margin-bottom: 2rem;
}
.footer-landmarks{
    background: black;
    color: white;
    padding-top: 1rem;
    text-align: center;
    
}
.footer-landmarks p {
    font-size: small;
}
.footer-copyright {
    background: black;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 13pt;
}
.page-container{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
.content-wrap{
    flex: 1;
}
.footer-img{
    padding-right: 1rem;
}

.img-responsive {
    width: 100%;
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);

}

.footer-title {
    font-size: 18px;
    position: relative
}

#pageHeader:before,
.footer-title:before {
    position: absolute;
    content: " "
}

.contact-address p,
.footer-title {
    font-weight: 500;
    text-transform: uppercase
}

.footer-title:before {
    background: #ff5252;
    height: 2px;
    width: 43px;
    bottom: 4px
}
.links-widget ul {
    margin: -6px 0 0;
    padding: 0;
    list-style: none
}

.links-widget ul li a {
    display: block;
    margin-bottom: 10px;
    color: #fff;
    border-bottom: 1px dotted rgba(255, 255, 255, .3);
    font-weight: 400;
    text-transform: uppercase;
    -webkit-transition: color .25s, border-color .25s;
    transition: color .25s, border-color .25s
}
.footer-landmarks img {
    width: 60%;
    margin: 0px auto;
}

/* footer 2 */


.Social-link--dark .Social-link__item {
    color: #222;
}

.Social-link--circle .Social-link__item {
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
}

.Social-link--medium .Social-link__item {
    font-size: 17px;
}

.Social-link__item {
    display: inline-block;
    width: 2em;
    height: 2em;
    margin: 0 10px;
    text-align: center;
    line-height: 2em;
}

img.Footer--logo__img {
    height: 30px !important;
    text-align: center;
}

.Footer-logo {
    text-align: center;
}

.Site-footer--gray {
    background-color: #f5f5f5;
}

.Site-footer--layout-2 .Site-footer__primary {
    padding: 20px 0 0;
}

.Footer-logo--normal {
    margin-bottom: 20px;
}

.Site-footer--layout-2 .Social-link {
    margin-bottom: 5px;
}

.footer_contact {
    margin-left: -22px;
}

.footer-landmarks img {
    width: 60%;
    margin: 0px auto;
}

/* footer 3 */

/* .footer3 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #222;
    margin-bottom: 20px;
} */

.footer3 {
    font-size: 13px;
}